.detailsContainer {
  background-color:rgb(231, 232, 233);  /* fallback for old browsers */
  
}

.costuom-form{
  border: none;
  border-bottom: 1px solid #62c0e3;
  border-radius: 0;
}
.btn-form{
  border: 1px solid #62c0e3;
  color: #62c0e3;
  border-radius: 0;
}
.btn-form:hover{
  border: 1px solid #62c0e3;
  background-color: #62c0e3;
}

#gizemImage {
  width: 27em;
  height: 30em;
  border-top-right-radius: 15em;
  border-bottom-right-radius: 15em;
}