.project-wrapper {
  border: 5px solid linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 10px;
  box-shadow: 0px 0px 20px #2D8DBD;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 80%;
  
}

.project-wrapper:hover {
  box-shadow: 10px 10px 10px 10px #b37f7f;
}

.projects {
  padding: 3rem;
  width: 100%;
  
}

.projectsSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-wrapper .project-text {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
.project-iframe {
  justify-content: center;
  width: 100%;
  display: flex;
  margin-bottom: 2em;
}
.title {
  color: rgb(202, 86, 86);
  text-shadow: 2px 2px black;
}

.project-wrapper h1 {
  text-shadow: 1px 1px gray;
  text-align: center;
}

.project-wrapper .project-text {
  text-align: left;
}

.project-text {
  width: 80%;
}

.iconProject {
  justify-content: center;
  display: flex;
}
.external-icon {
  padding-left: 0.5em;
  color: black;
  justify-content: center;
}

.github-icon {
  padding-right: 0.5em;
  color: black;
}

.projects-bolds {
  text-align: left;
}

.project-iframe {
  padding: 1.5rem 0;
}

.otherProjects {
  padding: 1rem 0;
}

.otherProjects ul {
  text-align: left;
}

@media only screen and (max-width: 576px) {
  .projects {
    padding: 1rem;
  }

  .project-wrapper iframe {
    width: 100%;
  }
  .project-wrapper {
    width: 100%;
  }
}